@import url("https://fonts.googleapis.com/css?family=Jacques+Francois:400");

body {
    background: #2b7a29;
    font-family: 'Jacques Francois';
}

.night-sky {
    background-color: #3E3D78;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100vw;
    margin: 0;
}

.lake {
    background-color: #072060;
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100vw;
    margin-top: 30%;
}

#intro-name{
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
    color : white;
    font-size: 40px;
    font-weight: 400;
    text-shadow: 0px 4px 4px #00000040;
}

#intro-desc {
    display: inline-block;
    margin-left: 100px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0px 4px 4px #00000040;
}

#name {
    color : #eeff86;
}

#moon {
    border-radius: 33.5px/31px;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 53%;
    top: 25%;
    transform: translate(-50%,-50%);
    box-shadow: -15px 15px 0 5px #eeff86;
    border-radius: 50%;
}
